
.base {
justify-content: center;
width: 90%;

}

.enlaces {
  color: white;
  display: flex;
  font-size: 20px;
  display:flex;
  justify-content: space-between;
  width: 100%;
  height: 14vw;
  flex-direction: row;
  align-items: center;
}



.textCasa {
     width: 33%;
    /* margin: 0 321px 0 342px; */
    font-family: GameofThrones;
    font-size: 36px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: white;
  }
  .cronologia {
    width: 33%;
    /* margin: 0 0 0 321px; */
    font-family: GameofThrones;
    font-size: 36px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: white;
  }
  .personajes {
    width: 33%;
    /* margin: 0 342px 0 0; */
    font-family: GameofThrones;
    font-size: 36px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: white;
  }